.reward-container {
  margin: 20px auto;
  padding: 10px 0;
  text-align: center;
  width: 90%;

  button {
    background: transparent;
    border: 1px solid #fc6423;
    border-radius: 4px;
    color: #fc6423;
    cursor: pointer;
    line-height: 2;
    outline: 0;
    padding: 0 15px;
    vertical-align: text-top;

    &:hover {
      background: #fc6423;
      border: 1px solid transparent;
      color: #e2e0de
    }
  }
}

#qr {
  padding-top: 20px;

  a {
    border: 0;
  }

  img {
    display: inline-block;
    margin: .8em 1em 0 1em;
    max-width: 100%;
    width: 120px;
  }

  p {
    text-align: center;
  }
}
