<% if(theme.waline.enabled && theme.waline.visitor){ %>
    <span id="<%- url_for(page.path) %>" class="leancloud_visitors" %>">
        <em class="meta-seperator">|</em>
        <i class="fa fa-eye"></i>
        <i class="leancloud-visitors-count"></i>
    </span>
<% } %>