<% if(page.comments){ %>
    <% if(theme.disqus.enabled){ %>
        <div class="blog-post-comments">
            <div id="disqus_thread">
                <noscript><%= __('comments.no_js') %></noscript>
            </div>
        </div>
    <% } else if (theme.waline.enabled && theme.waline.server_url) { %>
        <div class="blog-post-comments">
            <div id="vcomments"></div>
        </div>
    <% } %>
<% } %>
