<div class="reward-container">
  <div><%- theme.donation.comment %></div>
  <button onclick="var qr = document.getElementById('qr'); qr.style.display = (qr.style.display === 'none') ? 'block' : 'none';">
    <%- __('donation.button') %>
  </button>
  <div id="qr" style="display: none;">
    <% for(var name in theme.donation.platform){ %>
      <% var builtin = ['wechatpay', 'alipay', 'paypal', 'bitcoin', 'coffee'] %>
      <% if (builtin.includes(name)) { %>
        <% var translation = __('donation.' + name) %>
      <% } else { %>
        <% var translation = name %>
    <% } %>
    <div style="display: inline-block;">
      <img src="<%- url_for(theme.donation.platform[name]) %>">
      <p><%- translation %></p>
    </div>
    <% } %>
  </div>
</div>
